<div class="row">
    <div class="col-md-3">
        <ul class="list-unstyled">
            <li ng-repeat="bookmark in getAllFromLibrary() track by $index">
                {{bookmark.name}}
                <tv-poster element = "bookmark" size = "92"></tv-poster>
            </li>
        </ul>
    </div>

    <div class="col-md-9">
        <h3 class="page-header">Search</h3>

        <input type="search" ng-model="query" ng-model-options="{debounce: 1000}" class="form-control"/>
        <button class="btn btn-primary" ng-click="search(query)">Search</button>

        <ul class="row list-unstyled">
            <li ng-repeat="show in shows" class="col-md-4 show-item">
                <tv-poster element = "show" class="img-responsive img-rounded"></tv-poster>
                <h5>{{show.name}}</h5>
                <button class="btn btn-xs btn-default"
                        ng-if="!isInLibrary(show.id)"
                        ng-click="addToLibrary(show)">Add</button>
                <button class="btn btn-xs btn-default"
                        ng-if="isInLibrary(show.id)"
                        ng-click="removeFromLibrary(show.id)">Remove</button>
            </li>
        </ul>
    </div>
</div>