<h3 class="page-header">Library</h3>

Sortuj po
<label>
    <input type="radio" ng-model="orderProperty" value="first_air_date"/>Dacie premiery
</label>
<label>
    <input type="radio" ng-model="orderProperty" value="popularity"/>Dacie premiery
</label>


<ul class="list-group">
    <li ng-repeat="show in getAllShows() | orderBy: orderProperty" class="list-group-item col-md-3">
        <a ui-sref="show({showId: show.id})"><tv-poster element="show" size="300"></tv-poster></a>
        <h5>
            <a ui-sref="show({showId: show.id})">{{ show.name }}</a>
        </h5>
    </li>
</ul>